<div class="header">
  <img src="/src/assets/Car-Care-Header.png" alt="car-care-header">
</div>
style {
  .header {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    direction: rtl;
  }
  .header img {
    position: absolute;
    margin: auto;
  }
}
